.main {
  display: flex;
  --s: 100px;
  --m: 1px;
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.container::before {
  content: "";
  width: calc(100px / 2 + 1px);
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(calc(1.732 * 100px + 4 * 1px - 1px) - 3px),
    #000 0 calc(1.732 * 100px + 4 * 1px - 1px)
  );
}
